/*
.App {

  padding: 30px;
  display: flex;
  background-color: antiquewhite;
  width: 1200px;
}

.App > div {
  width: max-content;
  margin-right: 50px;
  background-color: #f3e88b;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
}
.App > div > div {

  text-align: center;
}
.App > div > h3 {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}


.btn-active {
  color: white;
  background-color: #211802;
  border-radius: 5px;
  border: 2px solid white;

}
.tasks{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px;
  cursor: pointer;
}
.input-error {
  border: 2px solid red;
}
.todolist-btn {
  margin-left: 5px;
  color: white;
  background-color: #211802;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}
.tasks-btn{
  width: 20px;
  height: 20px;
font-size: small;
  padding: 1px ;
  margin-left: 10px;
  color: white;
  background-color: #211802;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}
*/

.task-done {
    display: flex;
    margin-top: 10px;
    text-decoration: line-through;
    opacity: 0.5;
}
.task {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}